<h1>Your Course App</h1>

  <p>Hi Rong and song</p>
  
  <p>My name is <%= @post.name %></p>
  
  <p>My email is <%= @post.email %></p>


  <p>I just leave you guys a message:</p>
  <p><%= @post.message %></p>