<% provide(:title, 'Page Not Found!') %>
<div style="background-color: #28C8ED; padding:20px;border: 1px solid gray;border-radius: 25px; margin-top:30px">
<h1>Oops! The page you were looking for</h1>
<h1>Does not exist!!</h1>
<center><h3>Please check your address and try again</h3></center>
</div>