<% provide(:title, 'New Course') %>
<% provide(:button_text, 'Create new course') %>
<h5>Create a new course</h5>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div style="background-color: #eaeaea; padding:15px;">
    <%= render 'form' %>
    </div>
  </div>
</div>